﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
    background-color: #000;
    font-family: "Open Sans";
    color: #fff;
}

.rounded {
    border-radius: 10px;
}

a {
  color: #fff;
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}
/*menu styles*/
#cssmenu {
  margin-top: 5px;
  border-bottom: 2px solid #29ABE2;
}

#cssmenu a {
  display: block;
  text-decoration: none;
  color: #7C35B4;
  font-size: 12px;
  text-align: center;
}

.active,
#cssmenu a:hover {
  font-weight: 700;
  border-bottom: 2px solid #29ABE2;
}

/*dropdown menu's*/
.dropdown-item {
  font-size: 0.5em
}

/*mobiel menu*/
.mobiel_menu {
  display: none;
  padding-top: 5px;
}

.mobiel_menu .dropdown-menu {
  background-color: #9FCB45;
}
.mobiel_menu .dropdown-item {
  color: #fff;
  text-decoration: none;
}
.mobiel_menu .dropdown-item:hover,
 .mobiel_menu .dropdown-item.active {
  font-weight: 700;
  background-color: #9FCB45;
}

@media (max-width: 767.95px) {
  #cssmenu {
    display: none
  }
  .mobiel_menu {
    display: block;
  }
}

/*inhoud styles*/
.inhoud {
  padding-top: 50px;
  padding-bottom: 10px;
}

.pert {
  max-height: 300px;
}

/*img navigation styles*/
.img-nav {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-nav img {
  width: 100%;
}

.img-nav .btn {
  position: absolute;
  bottom: 30px;
  max-width: 85%;
  margin-left: 15%;
}
.img-nav .btn:hover {
  color: #fff;
  text-decoration: underline;
}

/*table styles*/
tr.table-dark {
  color: #000;
}

.table-hover tr > th:first-child {
  border-right: 1px solid #fff;
}

.table-hover thead > tr:nth-child(2) {
  border-bottom: 3px solid #fff;
}

thead th {
    text-align: center;
}

.link a:hover {
    font-weight: lighter;
    color: white;
}

.text-black {
    color: black;
}
 .text-black a {
     color: black;
 }
/*list styles*/
ol:before {
    content: "week, dates";
}

/*butten styles*/
.btn {
    border-radius: 27px;
    padding-right: 50px;
    background-image: url('../images/pijltje.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 53px;
    padding-top: 15px;
    /*text styles*/
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-yellow {
    background-color: #ffbf07;
}

.btn-blue {
    background-color: #008fcd;
}

.btn-green {
    background-color: #9fcb45;
}
