﻿@charset "UTF-8";
body {
	  background-color: #000;
    margin: auto;
	  background-repeat: repeat-y;
	  overflow-y: visible;
		font-family: "Open Sans";
		color: #fff;
}

.top_container {
	 width: 80%;
	 margin-left: 10%;
	 text-align: left;
}

.container {
	 width: 80%;
	 margin-left: 10%;
	 text-align: center;
	 margin-top: 5em;
}

a {
    color: white;
	  text-decoration: underline;
}

.red {
    color: red;
}

/*forms*/
.invulform {
	  width: 200px;
	  border-width: 1px;
	  padding: 0;
}

#form {
    margin: 0 auto;
	  text-align: center;
}

#submit {
	  width: 60px;
	  margin-top: 5px;
}

/*tables*/
table {
    text-align: center;
		width: 100%;
}

table td {
    width: 30%;
		margin: 10%;
		padding: 10px;
		border: 1px solid #fff;
}

/*exam results handling*/
.result {
    display: none;
}

.unhidden{
    display:block;
}

/*CSS menu*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
	  width: 100%;
	  background: #000;
	  margin-top: 5px;
	  border-bottom: 2px solid #29ABE2;
	  position: relative;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}

#cssmenu a {
  display: block;
  text-decoration: none;
	color: #7C35B4;
}

#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  font-size: 0;
}
#cssmenu > ul > li {
  display: inline-block;
	width: 25%;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #7c35b4;
  font-size: 12px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #c780ff;
  text-decoration: none;
	border-bottom: 2px solid #29ABE2;
}

#cssmenu > ul > li.active > a {
    font-weight: 700;
}
/*sub menu's*/
/*first layer*/
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
	width: 50%;
  top: 100%;
  left: 0;
}

#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #000;
  border: 1px solid #29ABE2;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #7c35b4;
}
#cssmenu ul ul li:hover > a {
  color: #c780ff;
	border-bottom: 2px solid #29ABE2;
}

/*second layer*/
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
	width: 100%;
  top: 0;
}

#cssmenu .has-sub .has-sub ul li a {
  background: #000;
	color: #7c35b4;
  border-bottom: 1px solid #29ABE2;
}
#cssmenu .has-sub .has-sub ul li a:hover {
    color: #c780ff;
		border-bottom: 2px solid #29ABE2;
}
