﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

body {
    background-color: #000;
    font-family: "Open Sans";
    color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

/*menu styles*/
/* Starter CSS for Flyout Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 1000;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}

#cssmenu ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}

/* Custom CSS Styles */
#cssmenu {
  display: block;
  padding: 0;
  zoom: 1;
  font-size: 12px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}

#cssmenu a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #7C35B4;
  border-right: 1px solid #29ABE2;
}

#cssmenu ul {
  background: #000;
  width: 200px;
}

#cssmenu li:hover,
#cssmenu .active {
  border-right: 3px solid #29ABE2;
  font-weight: bold;
}

#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu ul ul {
  border: 1px solid #29ABE2;
}

#cssmenu ul li {
  border-bottom: 1px solid #29ABE2;
}
/*mobiel menu*/
.mobiel_menu {
  display: none;
  width: 20px;
  border: 0.3px solid #29ABE2;
  margin-top: 5px;
}

@media (max-width: 767.95px) {
  #cssmenu {
    display: none;
    font-size: 10px;
  }

  #cssmenu a {
    padding: 7px 10px;
    border-left: 1px solid #29ABE2;
  }

  #cssmenu ul {
  width: 150px;
  }

  #cssmenu ul li.has-sub > a:after {
    right: 10px;
    margin-top: -5px;
  }
  .mobiel_menu {
    display: block;
  }
  .menu:hover > #cssmenu {
     display: block;
  }

  .menu {
    padding-left: 5px !important;
    max-width: 8.333333%;
  }
  .inhoud {
    max-width: 91.666667%;
  }
}

/*inhoud styles*/
.inhoud {
  padding-top: 25px;
  padding-bottom: 10px;
}

/*img navigation styles*/
.img-nav {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-nav img {
  width: 100%;
}

.img-nav .btn {
  position: absolute;
  bottom: 30px;
  max-width: 85%;
  margin-left: 15%;
}
.img-nav .btn:hover {
  color: #fff;
  text-decoration: underline;
}

/*table styles*/
tr.table-dark {
  color: #000;
}

.table-hover tr > th:first-child {
  border-right: 1px solid #fff;
}

.table-hover thead > tr:nth-child(2) {
  border-bottom: 3px solid #fff;
}

/*butten styles*/
.btn {
    border-radius: 27px;
    padding-right: 50px;
    background-image: url('../images/pijltje.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 53px;
    padding-top: 15px;
    /*text styles*/
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-yellow {
    background-color: #ffbf07;
}

.btn-blue {
    background-color: #008fcd;
}

.btn-green {
    background-color: #9fcb45;
}
