﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
    background-image: url("../images/dna-storage-big.png");
	  background-color: #000;
    margin: auto;
	  background-repeat: repeat-y;
	  overflow-y: visible;
		font-family: "Open Sans"
}

/*tables*/
table {
    text-align: left;
	  border: 1px dashed #fff;
}

table td:first-child {
    border: 1px dashed #fff;
    border-left: 0;
		border-bottom: 0;
}

table th:first-child {
    border-right: 1px dashed #fff;
}

table tr td:nth-child(even) {
    border-top: 1px dashed #fff;
}

.traits {
    border: 1px solid white;
}
a {
    color: white;
	  text-decoration: underline;
}

.invisible {
    display: none;
}

.red {
    color: red;
}

/*form*/
.invulform {
	  width: 200px;
	  border-width: 1px;
	  padding: 0;
}

#form {
    margin: 0 auto;
	  text-align: center;
}

#submit {
	  width: 60px;
	  margin-top: 5px;
}

/*images*/
img {
	width: 70%;
	height: auto;
	margin-bottom: 0;
}
.image_beschrijving {
	text-align: center;
}

.image_beschrijving > p {
    margin: 0;
}
.mendel {
    height: 250px;
		width: auto;
}
/*piecharts*/
#piechart_f {
    width: 47.5%;
    height: 200px;
	margin-left: 2.5%;
	float: left;
}

#piechart_g {
    width: 47.5%;
    height: 200px;
	margin-right: 2.5%;
	float: right;
}

/*container en topcontainer*/
.container {
	  position: absolute;
	  left: 50%;
	  margin-left: -30%;
	  width: 58%;
	  height: 100%;
	  border-left: 11px solid #17004F;
	  border-right:11px solid #17004F;
	  background: #4D0037;
	  color: #FFFDFF;
	  z-index: -1;
	  text-align: center;
	  margin-top: 111px;
	  overflow-y: auto;
	  padding: 1%;
}

.align-left {
    text-align: left
}

.topcontainer {
	  left: 50%;
	  margin-left: -30%;
	  width: 60%;
	  height: 101px;
	  background-color: #300068;
	  position: absolute;
	  color: #FFFDFF;
	  z-index: 0;
	  border-left: 11px solid #17004F;
	  border-right: 11px solid #17004F;
	  border-top: 11px solid #17004F;
}

.topcontainer h1 {
	  color: white;
	  text-decoration: underline;
	  text-align: center;
	  font-size: 1.5em;
	  margin: 0;
}

.topcontainer h3 {
	margin: 0;
	text-align: center;
}

.container .first {
	margin: 0;
}

/*CSS menu*/
#cssmenu {
	  width: 80%;
	  margin-left: 10%;
	  background: #000;
	  margin-top: 5px;
	  border-bottom: 1px solid #29ABE2;
	  height: 26px;
	  position: relative;
		text-align: center;
}

#cssmenu:before {
	  content: '';
	  display: block;
}
#cssmenu:after {
	  content: '';
	  display: table;
	  clear: both;
}
#cssmenu ul {
	  list-style-type: none;
	  position: relative;
	  display: block;
	  width: 100%;
	  padding: 0;
}
#cssmenu ul:before {
	  content: '';
	  display: block;
}
#cssmenu ul:after {
	  content: '';
	  display: table;
	  clear: both;
}
#cssmenu li {
	  display: block;
	  float: left;
	  padding: 0;
	  width: 23%;
	  margin-left: 1%;
	  margin-right: 1%;
}
#cssmenu li a {
	  color: #7C35B4;
	  text-decoration: none;
	  float: left;
	  font-weight: normal;
	  padding-top: 3px;
}
#cssmenu li:hover,
#cssmenu ul .active {
	  text-decoration: none;
	  border-bottom: 2px solid #29ABE2;
}
#cssmenu li:hover a {
	  color: #C780FF;
}
#cssmenu .active a {
	  color: #C780FF;
	  font-weight: 500;
}

/* dropdown menu */
/* Base Styles */
#dropdownmenu img {
	  width: 25px; 
	  height: 25px;
}
#dropdownmenu,
#dropdownmenu ul,
#dropdownmenu li,
#dropdownmenu a {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  list-style: none;
	  font-weight: normal;
	  text-decoration: none;
	  line-height: 1;
	  font-size: 14px;
	  position: relative;
}
#dropdownmenu {
	  display: none;
	  max-width: 100px;
	  padding: 0px;
	  margin-left: 10px;
}
#dropdownmenu a {
	  line-height: 1.3;
}
#dropdownmenu > ul > li:first-child > a {
	  display: block;
}
#dropdownmenu > ul > li.active > a {
	  border-bottom: 1px solid #29ABE2;
}
/* Sub menu */
#dropdownmenu ul ul {
	  display: none;
	  background: #17004F;
	  border-right: 1px solid #29ABE2;
	  border-left: 1px solid #29ABE2;
}
#dropdownmenu ul ul li {
	  padding: 0;
	  border-bottom: 1px solid #29ABE2;
	  border-top: none;
}
#dropdownmenu ul ul a {
	  padding: 10px 10px 10px 25px;
	  display: block;
	  color: #7C35B4;
	  font-size: 12px;
	  font-weight: normal;
}
#dropdownmenu ul ul a:before {
	  content: "»";
	  position: absolute;
	  left: 10px;
	  color: #29ABE2;
}	
#dropdownmenu ul ul a:hover,
#dropdownmenu ul ul li:active > a {
	  color: #C780FF;
	  font-weight: 700;
	  border-bottom: 2px solid #29ABE2;
}
#dropdownmenu ul ul li:hover a:before {
	  content: "»";
	  position: absolute;
	  left: 10px;
	  color: #29ABE2;
}

/*switch menu's*/
@media all and (max-width: 1151px) {
	 #cssmenu { display:none;}
	 #dropdownmenu {display: block;}
}

/*small screen*/
@media (max-width: 650px){
	  .container {
	      width: 100%; 
		    border-left: 0; 
		    border-right: 0;
		    left: 0;
		    margin-left: 0;
	  }
    .topcontainer {
	      width: 100%; 
		    border-left: 0; 
		    border-right: 0;
		    left: 0;
		    margin-left: 0;
    }
}
