  <div class="row">
    <div class="col-6">
      <a href="http://www.linkedin.com/in/wendy-van-der-meulen-86970b162" target="_blank">
        <img src="images/LinkedinLogo.png" class="aanpassen" id="linkedin" alt="linkedin"/>
      </a>
    </div>
    <div class="col-6">
      <a href="mailto:wendyvandermeulen@gmail.com">
        <img src="images/GmailLogo.png" class="aanpassen" id="gmail" alt="gmail"/>
      </a>
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="scripts/javascript/position_footer.js"></script>
  <script type="text/javascript" src="scripts/javascript/make_mobile_menu_visible.js"></script>